body {
  background-color: #999;
  overflow-x: hidden;
}

#header {
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/geisel-large.jpg);
  color: #fff;
  height: 100vh;
  text-align: center;
}



.rwd-break {
    display: none;
}

@media screen and (max-width: 767px) {
  .rwd-break {
    display: block;
  }

  #header #logo {
    font-size: 50px;
    line-height: 50px;
  }

  #header #motto {
    font-size: 18px;
  }
}

.btn-lg {
  background-color: rgba(255, 201, 31, 1);
  color: #fff;
  margin: 50px 0 0 0;
  transition: all 0.5s cubic-bezier(0.17, 0.67, 0.44, 0.99);
  width: 100%;
}

.btn-lg:hover {
  background-color: rgba(255, 219, 80, 1);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  color: #fff;
}

.header-box {
  height: auto;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(0%, -50%);
  /*transition: all 0.5s cubic-bezier(0.17, 0.67, 0.44, 0.99);*/
  width: 100vw;
}

#logo {
  color: #fff;
  font-family: 'Indie Flower', cursive;
  font-size: 135px;
  font-weight: normal;
  line-height: 110px;
  text-shadow: 0 0 10px rgba(0,0,0,0.2);
  transition: all 0.5s cubic-bezier(0.17, 0.67, 0.44, 0.99);
  -webkit-user-select: none;
  user-select: none;
}

#motto {
  color: #fff;
  font-size: 35px;
  padding: 0;
  text-align: center;
  text-shadow: 0 0 10px rgba(0,0,0,0.4);
  transition: all 0.5s cubic-bezier(0.17, 0.67, 0.44, 0.99);
}

.color {
  color: rgba(255, 201, 31, 1);
}

.box {
  margin: 0 auto;
  max-width: 300px;
  width: 70vw;
}

input[type="text"] {
  border: 1px solid #ccc;
  color: #000;
  float: left;
  height: 45px;
  outline: 0;
  outline-style: none;
  outline-width: 0;
  padding: 5px;
  margin: 0 auto;
  width: 100%;
}

input[type="text"]:focus {
  border: 1px dashed rgba(255, 201, 31, 1);
  box-shadow: 0 0 5px solid rgba(255, 201, 31, 1);
  transition: all 0.2s cubic-bezier(0.17, 0.67, 0.44, 0.99);
}

.section {
  background-color: #fff;
  height: auto;
  padding: 30px;
  width: 100vw;
}

.content {
  height: auto;
  margin: 0 auto;
  max-width: 600px;
  width: 95vw;
}

.content2 {
  color: #fff;
  height: auto;
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
}

section {
  padding: 15px 10px 15px 10px;
}

#footer {
  background-color: #121e28;
}

#quote p {
  font-size: 16pt;
  font-family: 'Open Sans Condensed', sans-serif;
  line-height: 180%;
  color: White;

}

#quote p.quoth {
  font-size: 14px;
  text-align: right;
}

#quote {
  background-color: #2b485f;
}

@media screen and (min-width: 767px) {
  #quote p{
    font-size: 32pt;
  }
  #quote p.quoth {
    font-size: 28px;
  }
}

.fa-quote-left, .fa-quote-right {
  margin-left: .5em;
  margin-right: .5em;
}

.row-header h2{
  font-weight: bold;
  text-align: center;
}

.mini-head {
  border: 1px solid #000;
  width: 230px;
}

.row-content h3{
  display: inline;
  text-align: center;
}

.row-content p {
  text-align: center;
}

.fa-sign-in, .fa-users, .fa-graduation-cap {
  color: #2b485f;
  font-size: 3em;
  margin: .5em;
}
