body {
  background-color: #999;
  overflow-x: hidden;
}

h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 60px;
  position: relative;
  margin: 20px auto 50px auto;
}

/* Buttons */

.btn-lg {
  background-color: rgba(255, 201, 31, 1); 
  margin: 50px 0 0 0;
  transition: all 0.3s cubic-bezier(0.17, 0.67, 0.44, 0.99);
  width: 100%;
  color: #FFF;
}

.btn-lg:hover {
  background-color: rgba(255, 219, 80, 1);
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
  color: #FFF;
}

/* Header section */

header {
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/geisel-large.jpg);
  color: #fff;
  height: 80vh;
  text-align: center;
}

@media screen and (max-width: 767px) {
  header #logo {
    font-size: 55px;
    line-height: 55px;
  }

  header #motto {
    font-size: 24px;
  }
}

.header-box {
  height: auto;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(0%, -50%);
  width: 100vw;
}

.button-box {
  margin: 0 auto;
  max-width: 300px;
  width: 70vw;
}

#logo {
  color: #fff;
  font-family: 'Orbitron', sans-serif;
  font-size: 125px;
  font-weight: normal;
  line-height: 110px;
  text-shadow: 0 0 10px rgba(0,0,0,0.3);
  transition: all 0.5s cubic-bezier(0.17, 0.67, 0.44, 0.99);
  -webkit-user-select: none;
  user-select: none;
}

#motto {
  color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 35px;
  font-weight: bold;
  padding: 0;
  text-align: center;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
  transition: all 0.5s cubic-bezier(0.17, 0.67, 0.44, 0.99);
}

/* Other */

.color-yellow {
  color: rgba(255, 201, 31, 1); /* StudyYellow */
}

section {
  background-color: #02b4cb;
  padding: 20px;
}

#footer {
  background-color: #0f1922;
  color: #fff;
  padding: 15px;
  text-align: center;
}

#quote p {
  font-size: 24px;
  line-height: 180%;

}

#quote p.quoth {
  font-size: 20px;
  text-align: right;
}

#quote {
  background-color: #fff;
  color: #000;
  font-family: 'Open Sans Condensed', sans-serif;
}

#quote h2 {
  font-size: 40px;
  text-align: center;
}

@media screen and (min-width: 767px) {
  #quote h2 {
    font-size: 60px;
  }
  #quote p{
    font-size: 32px;
  }
  #quote p.quoth {
    font-size: 28px;
  }
}

.fa-quote-left, .fa-quote-right {
  margin-left: .5em;
  margin-right: .5em;
}

.row-header h2{
  text-align: center;
}

.row-content h3{
  display: inline;
  text-align: center;
}

.row-content p {
  text-align: center;
}

.fa-sign-in, .fa-users, .fa-graduation-cap {
  color: rgb(33, 105, 236);
  font-size: 6em;
  margin: 15px 0 0 0;
  transition: all 0.3s cubic-bezier(0.17, 0.67, 0.44, 0.99);
}

#how-it-works .col-md-4:hover .fa-sign-in,
    #how-it-works .col-md-4:hover .fa-users,
    #how-it-works .col-md-4:hover .fa-graduation-cap {
  /*color: rgba(255, 219, 80, 1);
  text-shadow: 0 10px 20px rgba(0,0,0,0.3);*/
}

#how-it-works {
  background-attachment: fixed;
  background-image: url(../images/pier.jpg);
  background-size: cover;
  color: #000;
  height: 100%;
  position: relative;
  width: 100%;
  filter: blur(5px);
  background-position: center;
}

.overlay {
  background-color: rgb(191, 191, 63, .5);
  height: inherit;
  margin: -20px;
  position: absolute;
  width: inherit;
  z-index: 0;
}

#how-it-works .col-head {
  display: block;
  text-align: center;
  width: auto;
}

#how-it-works h3 {
  margin: 50px auto 20px auto;
  display: block;
}

#how-it-works h4 {
  margin-bottom: 75px;
}
